Repository davekpatrick/go-learn-hello-world, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, git, workflow, code, documentation

gitignore for go
  src/.gitignore
Labels: git, code

fix workflow dir
  .github/workflows/codeql.yml
  .github/workflows/default.yaml
  .github/workflows/labeler.yml
Labels: workflow

workflow versions
  .github/workflows/default.yaml
  src/go.mod
Labels: workflow, code

build arg fix
  .github/workflows/default.yaml
Labels: workflow

dir fix
  .github/workflows/default.yaml
Labels: workflow

remove binary
  src/hello-world
Labels: code

.github/labeler.yml:

# BOF
# Add 'repo' label to any root file changes
repo:
- '*'
# 
git:
- any: ['**/.gitignore']
#
workflow:
- any: ['.github/**/*']
#
code:
- any: ['src/**/*']
#
documentation:
- any: ['**/*.md']

...
# EOF
